body {
  margin: 10px;
  background-color: #448686;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 10px;
  min-width: 150px;
  min-height: 250px;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

#modes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.buttons {
  outline: none;
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 1.3rem;
  border: 0px transparent;
  border-radius: 20px 20px 0px 0px;
  color: #448686;
  background-color: antiquewhite;
}

.buttons.active {
  border-bottom: 3px #448686 solid;
}